.layout {
	@media (min-width: 900px) {
	display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}
	// @TODO: Bonus: Na většíc obrazovkách se postarej o to, aby panel byl nalevo od hlavního obsahu a patičky. Můžeš použít display: grid.
}
